 /* Main header */
 .header {
     padding: 8px;
     box-sizing: border-box;
     position: relative;
     width: 100%;
     display: flex;
     justify-content: space-between;
     min-width: min-content;
     border-bottom: solid 1px lightgrey;
 }
 .gcal-head {
     min-width: 238px;
     padding-right: 30px;
     box-sizing: border-box;
     height:48px;
     display: flex;
     flex: 1 0 auto;
     vertical-align: middle;
     white-space: nowrap;
     align-items: center;
 }

 .logo {
     content:url(logo.png);
     outline: none;
     display: inline-block;
     vertical-align: middle;
     white-space: nowrap;
     position: relative;
     height: 48px;
     padding-left: 46px;
 }

 .header-middle {
     justify-content: space-between;
     flex: 1 1 100%;
     height: 48px;
     vertical-align: middle;
     white-space: nowrap;
     display: flex;
 }

 .today-month {
     overflow: hidden;
     height: 48px;
     text-align: initial;
     white-space: nowrap;
     font-family: inherit;
     display: flex;
     margin-right: 4px;
     white-space: nowrap;
     align-items: center;

 }

 .today-chevrons {
     display: flex;
 }

 .today-button {
     border-radius: 4px;
     border: 1px solid #dadce0;
     box-sizing: border-box;
     height: 36px;
     margin: 7px 12px 5x;
     padding: 9px 18px;
     cursor: pointer;
     display: inline-block;
     font-size: 14px;
     font-weight: 500;
     overflow: hidden;
     position: relative;
     text-align: center;
     vertical-align: center;
     font-family: inherit;
     background: transparent;
     border-radius: 8px;
 }

 .chevron-div-head {
    padding-top: 4px;
 }

 .chevron-prev-head {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    color: #5f6368;
    vertical-align: top;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: transparent;
    font-size: 24px;
 }

 .chevron-prev-head:hover {
     border-radius: 50%;
     background: #dadce0;
 }

 .chevron-next-head {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    color: #5f6368;
    vertical-align: top;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: transparent;
    font-size: 24px;
 }

  .chevron-next-head:hover {
     border-radius: 50%;
     background: #dadce0;
 }

 .head-month {
    color: #3c4043;
    font-family: inherit;
    font-size: 22px;
    font-weight: 400;
    white-space: nowrap;
    text-align: initial;
    float: left;
    position: relative;

 }

 .logout-div {
     box-sizing: border-box;
     height: 48px;
     line-height: normal;
     padding: 0 4px;
     padding-left: 30px;
     flex: 0 0 auto;
     justify-content: flex-end;
     vertical-align: middle;
     white-space: nowrap;
     display: flex;

 }

 .log-out-button {
     background-size: 32px 32px;
     border-radius: 50%;
     display: block;
     position: relative;
     height: 36px;
     width: 36px;
     color: #222;
     border: 1px solid #dadce0;
     background-color: transparent;
     font: inherit;
     font-size: 14px;
     text-align: center;
     padding: 0;
 }

 .view-selector-div {
  }

  .view-selector {
      min-width: auto;
      height: 36px;
      padding-left: 8px;
      padding-right: 8px;
      color: #222;
      border: 1px solid #dadce0;
      border-radius: 3px;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      outline: none;
      overflow: hidden;
      position: relative;
      text-align: center;
      font: inherit;


  }


