 /* Main header */
 .header {
     padding: 8px;
     box-sizing: border-box;
     position: relative;
     width: 100%;
     display: flex;
     justify-content: space-between;
     min-width: min-content;
     border-bottom: solid 1px lightgrey;
 }
 .gcal-head {
     min-width: 238px;
     padding-right: 30px;
     box-sizing: border-box;
     height:48px;
     display: flex;
     flex: 1 0 auto;
     vertical-align: middle;
     white-space: nowrap;
     align-items: center;
 }

 .logo {
     content:url(logo.png);
     outline: none;
     display: inline-block;
     vertical-align: middle;
     white-space: nowrap;
     position: relative;
     height: 48px;
     padding-left: 46px;
 }

 .header-middle {
     justify-content: space-between;
     flex: 1 1 100%;
     height: 48px;
     vertical-align: middle;
     white-space: nowrap;
     display: flex;
 }

 .today-month {
     overflow: hidden;
     display: table-cell;
     height: 48px;
     vertical-align: middle;
     text-align: initial;
     white-space: nowrap;
     font-family: inherit;

 }

 .today-chevrons {
     
 }

 .today-button {
     border-radius: 4px;
     border: 1px solid #dadce0;
     box-sizing: border-box;
     height: 36px;
     margin-right: 12px;
     cursor: pointer;
     display: inline-block;
     font-size: 14;
     font-weight: 500;
     overflow: hidden;
     position: relative;
     text-align: center;
     font-family: inherit;
 }

 .chevron-div-head {

 }

 .chevron-prev-head {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    color: #5f6368;
    vertical-align: top;
    border: 0;
    border: 50%;
    cursor: pointer;
    display: inline-block;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
 }

 .chevron-next-head {

 }

 .head-month {
     text-align: center;
     display: inline-block;
 }

 .logout-div {
     box-sizing: border-box;
     height: 48px;
     line-height: normal;
     padding: 0 4px;
     padding-left: 30px;
     flex: 0 0 auto;
     justify-content: flex-end;
     vertical-align: middle;
     white-space: nowrap;
     display: flex;

 }

 .log-out-button {
   float: right;
   width: 4%;
   height: 8%;
   margin-top: 2%;
   border-radius: 50%;
   padding: 4px 4px 4px 4px;
   background: white;
 }
